<footer>
  <div>
    <a href="https://www.linkedin.com/company/africa-turnaround-ltd-/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a><i class="fa fa-twitter-square"></i></a>
  </div>
     <div style="position:absolute;">
                      <p>Our Address</p>
        iHub, 6th Floor, Senteu Plaza, Galana Rd, Nairobi, Kenya.</div>
     <p class="email-title">Get in touch</p>
    <p>Copyright &copy; 2020, Africa Turnaround <span class="email">info@africaturnaround.co.ke</span></p>
</footer>
