<div>
    <img class="about-img" src="../../assets/about-img.png" alt="">

    <p class="about-info" style="text-align: center; font-size: 24px">Africa Turnaround Limited (ATL) is a 10 year old
        Kenyan based
        consulting firm that develops agribusinesses
        to drive food market systems for a prosperous Africa.
    </p>

    <section>
        <h4 class="about-section2">
            Our Vision
        </h4>
        <p class="about-info" style="text-align: center; font-size: 24px">
            We lead in building professional agribusinesses to drive a prosperous Africa.
        </p>
    </section>

    <section>
        <h4 class="about-section2">
            Our Mission
        </h4>
        <p class="about-info" style="text-align: center; font-size: 24px">
            To build professional agribusinesses that drive food markets for a prosperous Africa
        </p>
    </section>

    <section>
        <h4 class="about-section2">
            Our Expertise
        </h4>
        <p class="about-info" style="text-align: center; font-size: 24px">
            We have done this for 10 years and have gained a wealth of experience in private sector, value chain, and
            market systems development and have worked with many reputable organizations in Kenya and East-Africa.
        </p>
    </section>

    <section>
        <h4 class="about-section2">
            Our Values
        </h4>
<div>
    <img src="../../assets/values.jpg" alt="" style="margin: 0 30vw; width: 40vw;">
</div>
    </section>
</div>