<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<main>
<section>
<h5>eLEARNING CONTENT SPECIALIST</h5>

​
<p>
Africa Turnaround Ltd is seeking an eLearning Content specialist to
collaborate with the Director of Learning in developing, deploying, monitoring and evaluating
online and blended learning as part of our institutional capacity strengthening proposition.
The online training is offered through Twalisha.com. The eLearning Content Specialist will
work as an instructional designer, ensuring that our offer is both engaging and effective.
Retention of knowledge and course effectiveness will be evidenced through the developed
capacities of our clients as organizational assessments post learning will provide a measure
of development compared against a baseline assessment.
</p>
</section>

<h5>Reporting to the Director of Learning, the eLearning Content Specialist will</h5>

​

<p>Develop curriculum together with the Director of Learning and other subject matter experts

Adopt existing curricula for offer as blended learning programmes or online learning programmes

In collaboration with subject matter experts and other team members, design, develop, produce, author, edit and
implement audio-visually appealing, adult learning compliant online learning material and training content. This shall
include but not be limited to writing detailed storyboards, writing scripts, producing films, editing short educational
videos, producing extensive training manuals for learners and coaches, developing PowerPoint presentations, learning
activities, videos, interactive pages, SCORM packages, graphics, and other mobile and web-based learning assets, using a
variety of authoring tools and updating materials as needed.

Coordinate with the learning management system (LMS) developer to develop reporting and maintenance processes which
include handling user data, updating course content (SCORM files), tracking training activity records, running reports
on mandatory courses, and system maintenance among other items.

Co-ordinate enhancement of user experience by communicating and ensure that key partners and users understand and apply
the LMS optimally.

Manage all consultants on content development assignments.

Maintain and disseminate knowledge on current and emerging developments/trends, assess the impact of and collaborate
with management to incorporate new trends and developments in current and future eLearning solutions. This will require
research, assessment and as needed, recommendations on eLearning courseware packages as well as supporting development
of appropriate courseware tools. This is aimed at assisting ATL in identifying market opportunities.

Provide metrics on efficiency and usage and advise on improving the utilization of Twalisha.com for learning, as well as
other blended learning offers e.g. webinars. This shall include support with assessing learner needs and analyzing
existing materials and their capacity to address learner needs.

Create visually appealing content including notices, banners, infographics to help promote Twalisha.com to prospects.

Facilitate the professional development of the ATL team in offering eLearning and blended learning content.

As a representative of ATL, the eLearning Content Specialist is expected to convey the high level of integrity and
empathy in dealing with our clients and the learners they bring onto our platform as this goes a long way in maintaining
our reputation as the business development consultant of choice.</p>

​

<h5>Skills, Knowledge and Experience Required</h5>

​

<p>The two core skills required are the skill of designing learning experiences and the skill of being a great communicator
evidenced as described below:

Essential Instructional Design Experience

Demonstrated experience of a minimum of two (2) years full-time experience in developing training collateral, eLearning
and self-directed learning modules, performance support aids, online tutorials and/or other training materials that is
engaging for the learner and effective in terms of return on learning investment; able to share examples to showcase
these skills.

Experience collaborating with subject matter experts, global stakeholders, and managers.

Demonstrated ability to assess training effectiveness and ROI to stakeholders and leaders.

Industry certifications in instructional design, curriculum development, performance improvement, project management,
and content-specific certifications as appropriate.

Project management experience.

Exceptional writing skills to produce comprehensive course scripts, content, coach and learner guides.

Ability to engage learners and manage a cohort with learners differing needs and abilities.

Bachelor's degree in instructional technology, education, training or other relevant field.</p>

​

<h5>Essential Software Experience</h5>

​

<p>Proficiency with multimedia development software such as Photoshop, Flash, and Corel Visual Studio Pro and video editing
software including Adobe Premiere Pro or Corel Video Studio Pro. Skills and experience in Adobe After Effects, Adobe
Animate, and Adobe Illustrator would be an added advantage.

Experience with LMSs.

Experience with screen recording and digital audio and video editing.

Proficiency with Articulate Storyline 360 or other authoring software preferred.

Proficiency in MS Office Suite.

Aesthetic sense and ability to apply principles of graphic design to create appropriate and visually appealing training
material.

Some animation and programming knowledge and experience a plus.</p>

​

<h5>Other Desired Skill</h5>

​

<p>Analytical with ability to synthesize complex content.

Planning and organizing.

Strong interpersonal skills.

Data gathering and analysis.

Problem analysis and problem solving.

Facilitation and mentoring skills.</p>



<h5>Terms of engagement</h5>

​

<p>The Specialist will help develop, deploy, monitor and evaluate online and blended courses targeted to farmer
organizations, agri SMEs and entrepreneurs including farmers.

This is a six month contract where the Specialist’s work and pay will be based on specific and measurable monthly
outputs and deliverables.

We estimate to develop 5 courses totaling to about 25-40 hours of learning within the six-month period. The courses are
expected to be super interactive with appropriate text, graphics, voice overs, etc.

The successful candidate is expected to report in January 2020. A review with a possibility of making the role permanent
shall be conducted before June 2020.

The assignment will attract a monthly pay of KES 150,000 – 300,000 depending on the candidate’s qualification level.</p>



<h5>How to apply</h5>
​

<p>Qualified candidates should send their CV and cover letter detailing their education background, set of skills and
experience. The applicant should also outline the approach or process they would apply in developing, deploying,
monitoring and evaluating the courses. Current salary must also be indicated including evidence of previous contracts
and salary or fees paid. Evidence of previous work and references’ email addresses and cell phone numbers shall also be
required. Assignments undertaken should feature project date, client or employer, nature of project, and the applicant’s
personal contribution in the project. All applications should be addressed to the General Manager and should be sent to
info@africaturnaround.co.ke by 5pm, Monday 16th December 2019. Only shortlisted candidates will be contacted.</p>

</main>
