<img class="img" src="../../assets/imgs/wezesha.png" alt="">

<section >
    <div>
        <p class="text1">
            Wezesha (enable) is our market-based farmer training and extension program. Africa Turnaround has designed
            an innovative and sustainable extension model that has 3 key components: 1) Key services, 2) Training model,
            3) Sustainable model. If you are interested in piloting this model with us, kindly contact us.

        </p>

        <img class="services" src="../../assets/imgs/services.png" alt="">
        <p class="services-header">Key Services</p>

    </div>
</section>
