<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container">
    <img class="project-img" src="../../assets/imgs/project-img.png" alt="">

    <section>
        <img class="logo1" src="../../assets/imgs/KCBLOGO.png" alt="">
        <img class="img1" src="../../assets/imgs/KCB_edited.jpg" alt="">
    </section>

    <section>
        <img class="logo2" src="../../assets/imgs/SNV.jpg" alt="">
        <img class="img2" src="../../assets/imgs/SNV_edited.jpg" alt="">
    </section>

    <section>
        <img class="logo3" src="../../assets/imgs/logo3.jpg" alt="">
        <img class="img3" src="../../assets/imgs/img3.jpg" alt="">
    </section>
</div>
