<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div>
    <img class="img" src="../../assets/imgs/biasharaz.png" alt="">
</div>
<section style="max-width: 80vw; margin: 0 auto;">
    <p class="section1">
        We use two approaches to developing markets: 1) We link farmers to market by working with established market
        partners, mostly super aggregators and distributors and 2) We build capacity of SMEs to stimulate their role and
        strengthen the market system.
    </p>

    <p class="in-between">
        We have a two level business development program; Kiota (Nest) and Stawi (Thrive).
    </p>
    <p class="end"> Kiota (Nest) is a 6 - 12 month entrepreneurship training and coaching program where we inspire and
        nurture
        innovative startups and small businesses to catalyze market systems.</p>

    <h2 style="text-align: center; padding-top: 20px; padding-bottom: 30px">
        KIOTA
    </h2>

    <div class="section2">
        <p class="stage1">
            At this start up level, we adopt the entrepreneurial start up methodology that envisages 3 key stages of
            business growth and development: 1) Problem/Solution Fit, 2) Product/Market Fit and 3) Scale up Stage.
        </p> ​

        <p class="stage2">Kiota is focused on helping entrepreneurs build their businesses into a solution that
            customers want and to find
            a product/market fit so that they can get to the scale up stage. Once entrepreneurs have achieved the
            product/market fit breakthrough, they are ready for the scale up and are encouraged to sign up for the STAWI
            program to learn what they need and how to raise capital to enable them drive their business to scale.</p>
    </div>

    <h4 class="heading4">
        Kiota Modules:
    </h4>

    <div style="color: #605e5e; margin: 0 auto; font-weight: 300; font-size: 20px">
        <ul style="margin-left: 6vw;">
            <li style="list-style-type: none;"> 1. Developing your business model
                <ul class="sub" style="margin-bottom: 20px">
                    <li>How do you find a customer problem worthy solving?</li>
                    <li>How do you build a solution that customers want?</li>
                    <li>Building your MVP (minimum viable product)- your business model</li>
                </ul>
            </li>
            <li style="list-style-type: none;"> 2. Designing your test run
                <ul class="sub" style="margin-bottom: 20px">
                    <li>Define the scope for your test run </li>
                    <li>Set learning goals</li>
                    <li>Set sales goals- traction model</li>
                    <li>Design a strategy for achieving your goals- including a customer production factory and
                        strategies for spotting and troubleshooting factory constraints. </li>
                </ul>
            </li>
            <li style="list-style-type: none;"> 3. Raising startup capital
                <ul class="sub" style="margin-bottom: 20px">
                    <li>Determine your startup capital based on your MVP, test scope and period.</li>
                    <li>Develop a capital raising pitch deck and learn how to pitch to potential funders (grants and
                        angels).</li>
                </ul>
            </li>
            <li style="list-style-type: none;"> 4. Implementing your test run
                <ul class="sub" style="margin-bottom: 20px">
                    <li>Implement your product test run and collect customer feedback</li>
                    <li>Adjust your product (solution and business model) towards problem/solution fit.</li>
                    <li>Building your MVP (minimum viable product)- your business model</li>
                </ul>
            </li>
            <li style="list-style-type: none;"> 5. Move towards product/market fit
                <ul class="sub" style="margin-bottom: 20px">
                    <li>Update your business model</li>
                    <li>Update your traction model to reflect the number of customers and sales revenue you want to
                        achieve in the next level.</li>
                    <li>Update your customer production factory model and strategies to match your business model and
                        traction model.</li>
                    <li>Have a personnel plan to implement your strategies and deliver on your goals.</li>
                    <li>Raise more funds to finance your plan</li>
                </ul>
            </li>

        </ul>

        <img src="../../assets/imgs/biasharaz2.png" alt="" style="width: 80vw; margin-left: 1vw; margin-top: 3vw">

        <div style="color: black;">
            <h2 style="text-align: center; padding-top: 20px; padding-bottom: 30px">
                STAWI
            </h2>
        </div>

        <p style="color: #252e2e; max-width: 80vw; margin: 0 auto; padding-bottom: 30px;">
            Stawi (Thrive) is a 6 - 12 month training and coaching program targeted to growth oriented SMEs playing as
            key market system drivers. The generic edition is focused on helping the SMEs achieve two key goals: 1)
            Sales and Market growth and 2) Raising capital to finance growth and scale. Stawi has a non-generic edition
            that is customized to the level and needs of different SMEs.

        </p>

        <p style="margin-left: 9.5vw; font-weight: 400; padding-bottom: 40px">The program is focused on a business
            growth plan with 6 key outputs:</p>

        <ol>
            <li> A refined model, using the Business Model Canvas;</li>
            <li> Sales and marketing plan;</li>
            <li> Financial statements (P & L, Balance sheet and asset register and Cash flow)</li>
            <li> An investor proposition in the form of a short and punchy pitch deck with summary financials;</li>
            <li> How to present investor propositions in a way that focuses on the investor perspective of the
                opportunity; and</li>
            <li> Investor types, needs and expectations and how to find an investor match.</li>
        </ol>

        <p style="margin-left: 9.5vw; padding-top: 20px; font-weight: 400; padding-bottom: 40px">Why we do not recommend
            the typical business plan at this level:
        </p>

        <p style=" max-width: 80vw; margin: 0 auto; padding-bottom: 30px;">
            We are cognizant of the fact that majority of SMEs fail in their attempt to raise capital largely because
            they fail to meet investor needs and expectations. The value of investing 100 to 200 hours in writing a
            business plan is for instance increasingly being questioned as investors are placing less emphasis on the
            business plan. They are unlikely to read a business plan at the outset.

        </p>

        <p style=" max-width: 80vw; margin: 0 auto; padding-bottom: 30px;">
            However, they will listen and react to a pitch. It is therefore more important to develop a short, punchy
            power point presentation that provides answers to the key questions that an investor will want to know about
            the business. Investors who may need more information are likely to ask for it to be included in the pitch
            deck other than embarking on a business plan development exercise.

        </p>
        <p style=" max-width: 80vw; margin: 0 auto; padding-bottom: 30px;">
            Additionally, typical investor propositions give too much emphasis to financials – business angels take a
            fairly cynical view of finances, believing that, in the words of one investor, “accountants … can tweak the
            assumptions and come up with any figure. So it's the last thing I look at." Investors will not look at the
            financials if the narrative doesn’t interest them. Accordingly, an investor readiness program which focuses
            just on these elements is unlikely to be successful.
        </p>
        <p style=" max-width: 80vw; margin: 0 auto; padding-bottom: 30px;">
            NB. ATL is an AMEA member and works in partnership with SCOPEInsight (SCOPE) and IFC’s Agricultural
            Leadership Programme (ALP) to deliver an integrated solution to Agribusinesses. The solution comprises
            assessment, training, coaching, and linkages. This capacity building solution is aimed at professionalizing
            and strengthening agribusinesses to enhance their access to finance and markets.
        </p>

    </div>


</section>
