.img {width: 70vw; height: auto; margin-left: 15vw; padding-bottom: 4vw;}

.content{ 
    text-align: center;
    font-size: 25px;
    color: #605E5E;
    padding-top: 3vh;
    padding-bottom: 8vw;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
}