<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div>
    <img class="partners-img" src="../../assets/imgs/partners-img.png" alt="PartnersImg">

    <section class="partners">
        <h2 class="heading">Our Partners</h2>
        <img class="partners-logo" src="../../assets/imgs/partners-logo1.jpg" alt="">
        <p class="partners-text" style="padding-bottom: 3vw">

            Africa Turnaround Limited (ATL) is an AMEA member.
            Being an AMEA member gives us access to global approaches and tools for professionalizing
            farmer organizations and Agri-SMEs. The Agribusiness Market Ecosystem Alliance (AMEA)
            is a global multi-stakeholder alliance of diverse organizations that share the belief in
            the collective and transformative power of farming as a business, and a mission to increase
            the professionalism of farming organizations. The Alliance develops, promotes and implements
            the AMEA Framework. AMEA aims to advance professional farmer organizations with a cost-effective
            and integrated system built on an ISO global definition for professional farmer organizations,
            assessments, training materials and service providers. For more about AMEA, visit
            <a href="https://www.ameaglobal.org/" target="_blank"><span
                    class="link">https://www.ameaglobal.org/</span></a>

        </p>
    </section>

    <section class="partners">
        <h2 class="heading"></h2>
        <img class="partners-logo" style="width: 13vw; height:auto; margin-left: 17vw" src="../../assets/imgs/scope-img.jpg" alt="">
        <p class="partners-text">


            As a SCOPEInsight Partner, Africa Turnaround uses the SCOPE methodology (tools)
            to assess the professionalism of farmer organizations and Agri-SMEs, including collection agents,
            retailers and input retailers. As Partners, we believe in farming as a business. SCOPEInsight has
            led the way in developing innovative, universally-applicable assessment tools that measure the
            level of farmer professionalism in emerging markets. SCOPEinsight believe that farmer professionalism
            is the key to structural transformation of the agricultural sector. By providing business intelligence
            we aim to increase transparency in the agricultural market, lower investment risks and increase
            business opportunities for stakeholders in and around the agricultural value chain. For more about
            AMEA, visit http://www.scopeinsight.com

            <a href="https://www.ameaglobal.org/" target="_blank"><span
                    class="link">https://www.ameaglobal.org/</span></a>

        </p>
    </section>

    <section class="partners">
        <h2 class="heading"></h2>
        <img class="partners-logo" style="width: 15vw; height: auto; margin-left: -14.9vw" src="../../assets/imgs/ifc-img.jpg" alt="">
        <p class="partners-text" style="padding-bottom: 4vw; padding-top: 1vh;">

            Africa Turnaround offers the IFC designed training and coaching program known as the Agribusiness
            Leadership Program (ALP). ALP is designed to build capacity of farmer organizations (including
            cooperatives, distributors, and retailers) as a way of integrating smallholders into modern
            supply chains (access to markets, finance and inputs). The varying degrees of professionalism
            and business management skills in these organizations make it difficult for them to act as
            reliable supply chain partners. ALP’s goal is to help food and agribusiness clients build
            stronger, more sustainable supply chains. ALP integrates SCOPEinsight assessments for capacity
            and creditworthiness, classroom training, and coaching in a 6- to 24-month program designed
            to measurably improve the management skills and professionalism of farmer organizations. The
            program will expand to include businesses that work with smallholder farmers, including
            collection agents and food and input retailers. For more on ALP, visit
        </p>
    </section>

</div>
