<h1 style="text-align: center; margin-top: 50vh; padding-bottom: 50vh;">[In Counstruction!]</h1>

<!-- <section>
    <img class="img" src="../../assets/imgs/news-img.png" alt="">
    <a class="post-text">All posts</a>
    <input class="login-signup" type="button" value="Login / Signup">
    <div>
      <img style="width: 469px; height: 362px; margin-left: 17vw; margin-top: 5vh;" src="../../assets/imgs/news-image2.png" alt="">
      <a class="blog-header1">Africa Turnaround on SCOPE News!</a>
    </div>
</section>
 -->
