  <section>
    <div class="container">
      <header>
        <h1>Latest News</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse laborum, officia delectus corrupti modi natus?</p>
      </header>

      <main>
        <div class="singleBlog">
          <img src="../../assets/imgs/news-image2.png" alt="">
          <div class="blogContent">
            <h3>Africaturnaround on SCOPE News! <like-box></like-box></h3>
            <p>By <a href="#">Jhon Doe</a> | <a href="#">Nov 21, 2018</a></p>
            <a href="blog1" class="btn">Read More</a>
          </div>
        </div>
        <div class="singleBlog">
          <img src="../../assets/imgs/image2.png" alt="">
          <div class="blogContent">
            <h3>Africaturnaround joins Amea <like-box></like-box></h3>
            <p>By <a href="#">Jhon Doe</a> | <a href="#">Nov 21, 2018</a></p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
        <div class="singleBlog">
          <img src="thum3.jpg" alt="">
          <div class="blogContent">
            <h3>A Chair of Million <like-box></like-box></h3>
            <p>By <a href="#">Jhon Doe</a> | <a href="#">Nov 21, 2018</a></p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
        <div class="singleBlog">
          <img src="thum4.jpg" alt="">
          <div class="blogContent">
            <h3>A Chair of Million <like-box></like-box></h3>
            <p>By <a href="#">Jhon Doe</a> | <a href="#">Nov 21, 2018</a></p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
      </main>
    </div>
  </section>
