   <header>
   
   <div class="container">

        <img class="logo" src="../assets/logo.png" alt="" width="139" height="106">


        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active" >Projects</a></li>
                <li><a [routerLink]="['/about']" href="">About</a></li>
                <li><a [routerLink]="['/solutions']" href="">Solutions</a></li>
                <li><a [routerLink]="['/opportunities']" href="">Opportunities</a></li>
            </ul>
        </nav>
    </div>

</header>