<mat-carousel [proportion]=30 [hideIndicators]=false [useKeyboard]=true [hideArrows]=false [loop]=true [autoplay]=true >
  <mat-carousel-slide [image]="'/assets/imgs/Coop1.jpg'">

  </mat-carousel-slide>
  <mat-carousel-slide [image]="'/assets/imgs/truck.jpg'">

  </mat-carousel-slide>
  <mat-carousel-slide [image]="'/assets/imgs/farmer.jpg'">

  </mat-carousel-slide>
  <mat-carousel-slide [image]="'/assets/imgs/Coop.jpg'">

  </mat-carousel-slide>
  <mat-carousel-slide [image]="'/assets/imgs/accelera.jpg'">

  </mat-carousel-slide>

</mat-carousel>
