<main>



      <img class="slider" src="../../assets/dummy.png" alt="" width="1183" height="332">

        <div class="about-us">
        
          <h1 class="about-title">
            About Us
          </h1>
          <span class="about-text">
            Africa Turnaround Limited (ATL) is a 10 year old Kenyan based consulting firm that develops agribusinesses to drive
            food market systems for a prosperous Africa.
          </span>
        
          <input class="about-button" type="button" value="Read More">
        </div>
        
        <div class="our-approach">
          <h1 class="about-title">
            Our Approach
          </h1>
        
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="img_5terre.jpg">
                <img class="image1" src="../assets/market1.png" alt="Cinque Terre"
                  style="border-radius: 10px; width: 317px; height: 277px;">
              </a>
              <div class="desc">Market Systems Analysis & Strategy</div>
            </div>
          </div>
        
        
          <div class="responsive">
            <div class="gallery">
              <a>
                <img src="../assets/market2.jpg" alt="Forest" style="border-radius: 10px; width: 317px; height: 277px;">
              </a>
              <div class="desc">Business as Makret System Drivers</div>
            </div>
          </div>
        
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="img_lights.jpg">
                <img src="../assets/market3.jpg" alt="Northern Lights"
                  style="border-radius: 10px; width: 317px; height: 277px;">
              </a>
              <div class="desc">Market Driven Farmer Organizations</div>
            </div>
          </div>
        
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="img_mountains.jpg">
                <img src="../assets/market4.jpg" alt="Mountains" style="border-radius: 10px; width: 317px; height: 277px;">
              </a>
              <div class="desc">Market-based Farmer Extension</div>
            </div>
          </div>
        
          <div class="clearfix"></div>
        </div>
        
        <div class="our-approach">
          <div class="partners-title">
            Our Partners
          </div>
        
          <div class="partners-content">
            <a href="#"><img class="partners-img" src="../assets/partners.png" alt=""></a>
          </div>
        </div>
        
        <div class="our-approach">
          <div class="partners-title">
            Our Clients
          </div>
        
          <div class="partners-content">
            <img class="clients-img" src="../assets/clients.png" alt="">
          </div>
        </div>
        </main>
        

        